@page "/project/{Id:int}"

<PageTitle>Project</PageTitle>

<h1>Project with id:@Id</h1>
<div class="conatiner">
    <div class="row">
        <div class="col-8"> 
            <p>Title: @test.Title</p>
            <p>Description: @test.Description</p>
            <p>Status: @test.Status</p>
            <p>Creation date: @test.CreationDate</p>
            <p>OwnerId: @test.UserId</p>
            <p>Tags:</p>
            @foreach (var tag in test.Tags)
            {
                <p>@tag.Name</p>
            }
        </div>
        <div class="col"> 
            <button class="btn btn-primary">Apply</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    Project test = new Project("test", Status.Active, 1) { Description = "Bla bla", CreationDate = DateTime.Now, Tags=new List<Tag>() {new Tag("Algo"),new Tag("Andet")}};
}
