@page "/project/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Project</PageTitle>

<div class="container">
    @if (@project == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="row">
            <div class="col-8">
                <h1>@project.Title</h1>
                <h3>By @project.SupervisorId</h3>
                <h4>Tags
                    @foreach (var tag in project.Tags)
                    {
                        <span class="badge bg-secondary me-2">@tag</span>
                    }
                </h4>
                <p>@project.Description</p>
            </div>
            <AuthorizeView Roles="Student">
                <Authorized>
                    <div class="col"> 
                    @if (!Applied)
                    {
                        <button class="btn btn-primary px-4 mt-2" type="submit" @onclick="Apply">@ApplyText</button>
                    }
                    else
                    {
                        <button class="btn btn-secondary px-4 mt-2" disabled>@ApplyText</button>
                    }
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private ProjectDTO? project;
    private string ApplyText = "Apply";
    private bool Applied;
    private async void Apply()
    {
        //take id from student user and make a connection with the project
        if(Id != 0 && !ProjectFullCheck() && !UserIsParticipant()) {
            var response = await Http.PutAsJsonAsync($"api/Apply/{Id}", project);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            project = await Http.GetFromJsonAsync<ProjectDTO>($"api/projects/{Id}");
        }
        ProjectFullCheck();
        UserIsParticipant();

        await base.OnParametersSetAsync();
    }

    bool ProjectFullCheck() {
        if(project.Participants.Count == 5){
            ApplyText = "Applied";
            Applied = true;
            return true;
        }
        return false;
    }

    bool UserIsParticipant(){
        string UserId = "1"; //TODO: replace this with the actual userid
        for (int i = 0; i < project.Participants.Count; i++)
        {
            if(project.Participants.ElementAt(i).Id == UserId){
                ApplyText = "Applied";
                Applied = true;
                return true;
            }
        }
        return false;
    }
}
